#info {
    box-sizing: border-box;
    width: 100%;
    height: 25em;
    border-top: 1em solid var(--light-grey);
    border-bottom: 1em solid var(--light-grey);
    border-left: 3em solid var(--light-grey);
    border-right: 3em solid var(--light-grey);
    background-color: var(--medium-grey);
}

#info #cover {
    height: 23em;
    width: 16em;
    float: left;
}

#info .subtitle {
    font-size: 14px;
}

#info #text {
    position: absolute;
    box-sizing: border-box;
    left: 19em;
    border-left: 2em solid var(--medium-grey);
    border-right: 2em solid var(--medium-grey);
    width: calc(100% - 16em - 6em);
    word-wrap: break-word;
}

#chapters #table {
    width: 90%;
    border-collapse: collapse;
    text-align: left;
}

#chapters #table .stretch {
    width: 99%;
}

table, th, td {
    border-collapse: collapse;
    text-align: left;
    white-space: nowrap;
    padding-left: 1em;
}


th {
    font-size: 12px;
}

tr {
    border-bottom: 1px solid black;
}


