#search {
    position: relative;
    width: 100%;
    height: 25em;
    top: 2em;
    left: 0;
}

#search input, p {
    position: relative;
    display: table-cell;
    margin: 4px;
}

#search div {
    display: table;
    width: 100%;
    height: 4em;
}

#search p {
    width: 3em;
    white-space: nowrap;
}

#search .one input {
    width: 99%;
}

#search .two input {
    width: 98%;
}

#search .three input {
    width: 99%;
}

#search button {
    padding: 1em;
    top: 17em;
}


